@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primarycolor:#98AE6B;
    
}

*::selection{
    background-color:var(--primarycolor);
}

.swiper-button-prev, .swiper-button-next{
    @apply bg-[var(--primarycolor)] w-5 h-5 p-5 rounded-full;
}

.swiper-button-prev::after, .swiper-button-next::after{
    @apply text-base font-extrabold text-white;
}

html{
    @apply scrollbar-thin scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar scrollbar-thumb-[#98AE6B] scrollbar-track-zinc-900;
}

@font-face {
    font-family:Visby_CF;
    src: local('Visby CF Regular'), 
         url('../src/assets/Fonts/VisbyRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:Visby_CF;
    src: local('Visby CF Medium'), 
         url('../src/assets/Fonts/VisbyMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family:Visby_CF;
    src: local('Visby CF Semibold'), 
         url('../src/assets/Fonts/VisbySemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family:Visby_CF;
    src: local('Visby CF Bold'), 
         url('../src/assets/Fonts/VisbyBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
